setuptools~=80.9
adminapi@git+https://github.com/innogames/serveradmin.git@v4.22.1#egg=adminapi
netaddr~=0.8
cffi~=1.17
paramiko~=2.7
Fabric3~=1.14
libvirt-python>=7,<=9
jinja2~=2.11
markupsafe~=1.1
boto3~=1.26
tqdm~=4.57
